#opdracht2K .row .col img {
    padding: 1em 0;
    margin:auto;
}

#opdracht2K .row .col {
    background-color: var(--background-content);
    border-left: 1px solid black;
    min-height: 600px;
}


ul.event-list {
    list-style-type: none;
    padding: 0;
}

ul.event-list li {
    width: 100%;
    padding: 1em 0;
}

ul li span {
    display: inline;
    width: 60%;
    text-align: end;
}

ul li h3 {
    display: inline-block;
    width: 40%;
    padding-left: 1em
}



