.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


:root {
  --background: #c00e40;
  --background-content: #f03f68;
  --secondary-color: #cc0707;
  --text-primary: #9da;
  --bs-navlink-color: #fff;
} 

[data-theme="light"] {
  --background: #f0f0f0;
  --background-content: #f7e5e5;
  --secondary-color: #222;
  --text-primary: #234;
  --bs-navlink-color: #435;
}

.light-dark-mode {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.5s linear;
}

.light-dark-mode header div.row [class*="col"]{
  background-color: var(--background);
  color: var(--text-primary);
}

.light-dark-mode a .nav-link {
  color: var(--secondary-color);
}

.navbar-nav a {
  font-weight:  bold;
}

footer {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0.4rem 0;
}


